# Ignore PyTorch model files
*.pth

# Ignore Python cache files
__pycache__/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# It's also good practice to ignore the local virtual environment folder
.venv/

/data/

data.rar